#altitude-meter {
 width: 200px;
 height: 25px;
 border: 1px solid #ccc;
 border-radius: 3px;
 transform: rotate(-90deg);
}

#altitude-meter::-webkit-meter-bar {
 background: none; /* Required to get rid of the default background property */
 background-color: whiteSmoke;
 box-shadow: 0 5px 5px -5px #333 inset;
}

#altitude-meter::-webkit-meter-optimum-value {
 box-shadow: 0 5px 5px -5px #999 inset;
 background-image: linear-gradient(
  12, 
  #8bcf69 5%, 
  #e6d450 5%
 );
background-size: 100% 100%;
}

.map-image-container{
    display: flex;
    gap: 10px;
}
.info-container{
    padding: 10px 10px 10px 10px;
}
.meter-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 350px;
    padding: 10px 10px 10px 10px;
    width: fit-content;
   
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 10px 10px 10px;
}
